*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

li{
    list-style: none;

}

h3{
    text-align: center;
    font-size: large;

    margin-bottom: 3%;
}

iframe{
    width: 100%;

}


.iframeSection iframe{
    height: auto;
}

.formContainer{
    display: flex;
    flex-direction: column;


    padding-top: 25.5%;
    padding-bottom: 25.5%;

    text-align: center;

}

.formContainer input, textarea{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}



header{
    width: 100%;
    height: 18vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;

}


.logo{
    width: auto;
    height: 8vh;
    margin: 5%;
}

.logo img{
    height: 100%;
    width: auto;

}

nav{
    width: 100%;
    height: auto;


    font-size: larger;


    display: flex;
    align-items: center;

}

nav ul{
    width: 100%;
 



    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

nav li, a{
    display: block;
    text-decoration: none;
    list-style: none;
    color: white;

}


main{
    width: 100%;
    height: auto;

    background-color: black;

    font-size: large;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    color: white;

}

main a{
    display: inline;
}

.indexArticle{
    background-image: url(../img/foto-stock3.jpeg);
    background-size: 100%;
}




article{
    width: 100%;
    height: auto;


    padding: 5%;
}

.indexArticle{
    margin: 0;
    padding: 0;


}

.contactArticle{
    padding-top: 25%;
    padding-bottom: 25%;
}

.contactElement{
    margin-top: 3%;
    margin-bottom: 3%;

    font-size: medium;
}

.galeryArticle a{
    color: red;
}


section{
    width: 100%;
    height: auto;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-top: 3%;
    margin-bottom: 3%;

    background-color:rgb(1, 1, 1, 0.5)

}

.indexSection{
    padding: 5%;
    margin: 0;
}

.indexSection p{
    font-size: medium;
}

.showSection{
    text-align: center;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 3%;
    

}



.musicSection a{

    display: flex;
    justify-content: center;
}

.musicSection img{
    width: 70%;
    

}


.galeryArticle{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
}


.galeryContainer{
    width: 85%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 3%;
    margin-bottom: 0;
}

.galerySingle{
    width: 50%;
    height: fit-content;
    overflow: hidden;
}

.galeryDouble{
    width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.galerySingle img{
    width: 100%;
    height: auto;

    transition: 0.5s;
}

.galeryDouble img{
    width: 100%;

    transition: 0.5s;
}

.galeryContainer img:hover{

    transform: scale(1.2);
}

.scroll{
    width: 3%;
    height: auto;

    margin-top: 2%;

}

.scroll img{
    width: 100%;
}

.imagenContainer{
    width: 85%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 2%;
    margin-bottom: 3%;

    overflow: hidden;
}

.imagenContainer img{
    width: 50%;
    height: auto;

    transition: 0.5s;
}

.imagenContainer img:hover{
    transform: scale(1.2);
}

aside{
    display: none;
}

footer{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;


    background-color: black;
    color: white;
            
    border-top: solid;
    border-top-width: 1px;
    border-color: white;


}

footer h3{
    margin-top: 2%;
    align-self: center;


}

.contactUs{


    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    align-content: center;
    align-items: center;

    margin: 5%;
    
}

.contactUs a{
    width: 10%;
    height: auto;
    display: inline-block;

}

.contactUs img{
    width: 100%;
}






@media screen and (min-width: 700px) { 


img{
    width: 100%;
    height: auto;
}

header{
    height: 12vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    
    background-color: black;
    color: white;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: white;
}

.logo{

    height: 60%;
    width: 100%;
    margin: 0;
    padding: 0;


    display: flex;
    flex-direction: column;
    justify-content: center;

}
.logo img{
    align-self: center;
    width: 7%;
    height: auto;

}



nav{
    height: 40%;

}

nav a:hover{
    color: red;
}

main{
    width: 100%;
    display: flex;
    flex-direction: row;

    background-color:rgb(20, 22, 22);
}

article{
    width: 70%;
    align-self: center;

    background-color: black;


}

.indexArticle{
    background-image: url(../img/foto-stock1.2.jpeg);
    background-size: 100%;
}

.indexSection{
  background-color: rgb(1,1,1, 0.7 );
}

.musicSection{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.musicSection img{
    width: 50%;
    height: auto;
}

.contactArticle{
    padding: 6%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.galeryContainer{
    width: 70%;
}
.imagenContainer{
    width: 70%;
}

iframe{
    width: 70%;

    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: white;

}

aside{
    width: 15%;
    height: 100%;
    min-height: 1005;
    margin: 0;
    padding: 0;

    float: left;

    display: block;

}


footer{
    height: 15vh;

}

footer h3{
    margin: 0;


}

.contactUs{
    height: 70%;
    width: 50%;

    margin: 0;
    padding: 0;
}


.contactUs a, img{
    width: 5%;
    height: auto;
}

}
