<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo"><img src="../assets/img/logo.png" alt=""></div>   
        <nav>

            <ul class="navElements">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./music.html">Música</a></li>
                <li><a href="./galery.html" class="actual">Galería</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="galeryMain">

        <aside>

        </aside>

        <article class="galeryArticle">
            <div class="galeryContainer">
                <div class="galerySingle">
                    <img src="../assets/img/foto-stock11V.jpg" alt="">
                </div>
                
                <div class="galeryDouble">
                    <img src="../assets/img/foto-stock1.jpeg" alt="">
                    <img src="../assets/img/foto-stock2.jpeg" alt="">
                </div>
            </div>

            <div class="scroll">
                <img src="../assets/img/scroll.gif" alt="">
                <img src="../assets/img/scroll.gif" alt="">
            </div>

            <div class="galeryContainer">
                <div class="galerySingle">
                    <img src="../assets/img/foto-stock3V.jpeg" alt="">
                </div>
                <div class="galeryDouble">
                    <img src="../assets/img/foto-stock5.jpeg" alt="">
                    <img src="../assets/img/foto-stock4.jpeg" alt="">
                </div>
            </div>

            <div class="scroll">
                <img src="../assets/img/scroll.gif" alt="">
                <img src="../assets/img/scroll.gif" alt="">
            </div>

            <div class="galeryContainer">
                <div class="galerySingle">
                    <img src="../assets/img/foto-stock13V.jpg" alt="">
                </div>
                <div class="galeryDouble">
                    <img src="../assets/img/foto-stock8.jpeg" alt="">
                    <img src="../assets/img/foto-stock9.jpg" alt="">
                </div>
            </div>

            <div class="scroll">
                <img src="../assets/img/scroll.gif" alt="">
                <img src="../assets/img/scroll.gif" alt="">
            </div>

            <h3>Las fotos de la banda fueron tomadas por Facundo De La Rosa, seguilo en su 
                <a href="https://www.instagram.com/facu_dlr_ph/" target="blank" class="clickHere">Instagram</a>
            </h3>
    
    
    
            <div class="imagenContainer">
                <img src="../assets/img/img-stock2.png" alt="">
                <img src="../assets/img/img-stock3.jpg" alt="">
                <img src="../assets/img/img-stock4.jpg" alt="">
                <img src="../assets/img/img-stock6.jpg" alt="">
                <img src="../assets/img/img-stock5.jpg" alt="">
                <img src="../assets/img/img-stock7.jpg" alt="">
            </div>
    

            <h3>Las ilustraciones de "Juan Ve Justo" y "Caida Libre" fueron hechas por Bruno Martín, seguilo en su 
                <a href="https://www.instagram.com/brunete_espinete/" class="clickHere" target="blank">Instagram</a>
            </h3>
    
        </article>
        
        <aside>

        </aside>


    </main>

    <footer>
        <h3>Contactanos: </h3>
        <div class="contactUs">
            <a href="https://www.facebook.com/prismarubiband" target="blank"><img src="../assets/img/facebook-logo.png" alt="Facebook"></a>
            <a href="https://twitter.com/prismarubiband" target="blank"><img src="../assets/img/twitter-logo.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/prismarubiband/" target="blank"><img src="../assets/img/instagram-logo.png" alt="Instagram"></a>
            <a href="./form.html" target="blank"><img src="../assets/img/mail-logo.png" alt="Envíanos un Mail"></a>
        </div>

    </footer>
</body>
</html>