<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <header>
        <div class="logo"><img src="../assets/img/logo.png" alt=""></div>   
        <nav>

            <ul class="navElements">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./music.html" class="actual">Música</a></li>
                <li><a href="./galery.html">Galería</a></li>
                <li><a href="./contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Podés escucharnos en todas las plataformas digitales dando click acá: </h3>
        <section class="musicSection">
            <a href="https://www.youtube.com/channel/UCW0JUVjw6aPRsTnmLyLOpKA"><img src="../assets/img/Youtube-logo.png" alt="YouTube" class="plataformLogo"></a>
            <a href="https://open.spotify.com/artist/1wjH690GfRwkskECdQwObX?si=eY47l-ZmQwO_3yzLCS6WAg&nd=1"><img src="../assets/img/Spotify-logo.png" alt="Spotify" class="plataformLogo"></a>
            <a href="https://music.apple.com/us/artist/prisma-rub%C3%AD/1488168908"><img src="../assets/img/Apple-logo.png" alt="Apple Music" class="plataformLogo"></a>
            <a href="https://www.deezer.com/mx/artist/78836542"><img src="../assets/img/Deezer-logo.png" alt="Deezer" class="plataformLogo"></a>

        </section>
        <h3>Escucha Nuestro Último Lanzamiento: </h3>
        <section>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dugcYK4-ybI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    
</body>
</html>